@charset "utf-8";

*{padding:0;margin:0; vertical-align:top;border:0;}

html,body{width:100%;height:100%;}
ul{
    list-style: none;
}

body{
    background-color: #2b2d43;
    position: relative;
}
.bgImage{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}
div{
    padding:30px;
    width: 100%;
    text-align: center;
}
